beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2023.11.17
extruct==0.16.0
lxml==5.1.0
lxml_html_clean==0.1.1
nltk==3.8.1
numpy==1.21.6
odfdo==3.3.7
pandas==1.3.5
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
scikit-learn==1.0.2
tokenizers==0.13.3
tqdm==4.66.1
Werkzeug==2.2.3
urllib3==2.0.7